* {
  box-sizing: border-box;
}
body,
h1,
h2,
p,
hr,
ol,
ul,
li {
  margin: 0;
}
.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}
.outfit-regular {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}
.outfit-semibold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
}
.outfit-bold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
}

body {
  background: #f3e5d7;
  padding-block: 128px;
  color: #5f564d;
}

main {
  max-width: 736px;
  background-color: #fff;
  margin-inline: auto;
  padding: 40px;
  border-radius: 24px;
}
h1 {
  font-size: 40px;
  line-height: 100%;
  color: #312e2c;
  padding-block-end: 24px;
}
hgroup>p {
  line-height: 150%;
}
ul, ol {
padding-left: 28px;
}

li {
 line-height: 150%;
 padding-block-end: 8px;
 padding-left: 12px;
}

img {
  margin-block-end: 40px;
  width: 100%;
}
.prepar {
  background: #fff7fb;
  padding: 24px;
  border-radius: 12px;

}
.prepar li::marker {
  color: #7a284e;
  
}

.prepar h2 {
  color: #7a284e;
  font-size: 20px;
  line-height: 100%;
  padding-block-end: 16px;
}
section li::marker {
  color: #854632;
}

section h2.young-serif-regular {
  color: #854632;
  font-size: 28px;
  line-height: 100%;
  padding-block-end: 24px;
}

.flx {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

hr {
  background-color: #E3DDD7;
  border: none;
  height: 1.5px;
}
section > p {
  padding-block-end: 24px;
}
.nutrition {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.nutrition-flx {
  display: flex;
  border-bottom: 1.5px solid #e3ddd7;
  padding-block-end: 12px;
}

.nutrition-flx:last-child {
  border: none;
  padding-block-end: 0;
}

.nutrition-flx p {
  width: 50%;
  text-align: left;
  padding-inline-start: 32px;
}

.nutrition-flx span {
  width: 50%;
  text-align: left;
  color: #854632;
  padding-inline-start: 10px;
}
